.App .container {
  margin: 0 auto;
}

.App {
  font-family: sans-serif;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 20px;
}

.Search {
  margin-bottom: 20px;
}

.Weather h1 {
  text-align: left;
}
.Weather ul {
  text-align: left;
}

.Weather p {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  text-align: left;
}

.Weather .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  left: -10px;
}

.Weather img {
  display: block;
  align-self: start;
}
